body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    max-width: 500px;
    margin: 0 auto;
}

article h1 {
    font-size: 300%;
    text-align: center;
}

article h2 {
    font-size: 175%;
}

article h3 {
    font-style: italic;
    font-size: 110%;
}

article li {
    margin-top: 0.25rem;
}

article li a {
    text-decoration: none;
}

article a.ref {
    text-decoration: underline;
    font-size: 50%;
    vertical-align: super;
}

article img {
    width: 100%;
}

code {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
}
