body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article {
    max-width: 500px;
    margin: 0 auto;
}

article h1 {
    font-size: 300%;
    text-align: center;
}

article h2 {
    font-size: 175%;
}

article h3 {
    font-style: italic;
    font-size: 110%;
}

article li {
    margin-top: 0.25rem;
}

article li>a {
    text-decoration: none;
}

article img {
    width: 100%;
}
