body {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    max-width: 500px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-style: italic;
    font-size: 110%;
}
